<nav>
  <div id="mySidenav" class="sidenav">
    <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="index.html">Despre mine</a>
    <a href="cv.html">CV</a>
    <a href="#" class="dropdown">Hobby-uri</a>
    <div class="dropdown-content">
      <a href="baschet.html">Baschet</a>
      <a href="urbex.html">Urbex</a>
    </div>
    <a href="urbex.html" class="dropdown">Urbex</a>
    <div class="dropdown-content">
      <a href="baschet.html">Fort 1 Chitila</a>
      <a href="bicicleta.html">FastEco</a>
      <a href="blocuri.html">Blocuri Pipera</a>
    </div>
    <a id="xx" href="contact.html">Contact</a>
  </div>

  <span onclick="openNav()"
    ><img src="images/588a64e0d06f6719692a2d10.png" alt="Menu" id="menu"
  /></span>
</nav>
