<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Personal site</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="about">
    <nav>
      <div id="mySidenav" class="sidenav">
        <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="index.html">Despre mine</a>
        <a href="cv.html">CV</a>
        <a href="#" class="dropdown">Hobby-uri</a>
        <div class="dropdown-content">
          <a href="urbex.html">Urbex</a>
        </div>
        <a href="urbex.html" class="dropdown">Urbex</a>
        <div class="dropdown-content">
          <a href="fortchitila.html">Fort 1 Chitila</a>
          <a href="bicicleta.html">FastEco</a>
        </div>
        <a id="xx" href="contact.html">Contact</a>
      </div>

      <span onclick="openNav()"
        ><img src="images/588a64e0d06f6719692a2d10.png" alt="Menu" id="menu"
      /></span>
    </nav>
    <div class="page">
      <div class="page-top">
        <h1>Munteanu Andre</h1>
        <h4>CS Student</h4>
        <h5>Email: andre.munteanu@s.unibuc.ro</h5>
        <h5>Github: sosig132</h5>
        <h5>
          <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I don't
          know much, but I'm eager to learn, and i learn fast.
        </h5>
      </div>
      <div class="page-bottom">
        <div class="box1">
          <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Education</h1>
        </div>
        <div class="page1">
          <h4>2021-present</h4>
        </div>
        <div class="page2">
          <h2>Bachelor of Computer Science, University of Bucharest</h2>
        </div>
      </div>
      <div class="page-down">
        <h1>Projects</h1>
        <h3>Pokemon text game</h3>
        <a href="https://github.com/sosig132/Pokemon-text">Github link</a>
        <ul>
          <li>Implemented a Pokemon battle text game</li>
          <li>This project helped me learn OOP basics</li>
        </ul>
        <h3>Chess game</h3>
        <a href="https://github.com/sosig132/Chess">Github link</a>
        <ul>
          <li>Implemented a fully functional chess game in C++</li>
          <li>
            This project helped me solidify my OOP basics and i learned a bit of
            rendering
          </li>
        </ul>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
