<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Urbex</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="urbex" id="mfmn">
    <nav>
      <div id="mySidenav" class="sidenav">
        <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="index.html">Despre mine</a>
        <a href="cv.html">CV</a>
        <a href="#" class="dropdown">Hobby-uri</a>
        <div class="dropdown-content">
          <a href="urbex.html">Urbex</a>
        </div>
        <a href="urbex.html" class="dropdown">Urbex</a>
        <div class="dropdown-content">
          <a href="fortchitila.html">Fort 1 Chitila</a>
          <a href="fasteco.html">FastEco</a>
        </div>
        <a id="xx" href="contact.html">Contact</a>
      </div>

      <!-- Use any element to open the sidenav -->
      <span onclick="openNav()"
        ><img src="images/588a64e0d06f6719692a2d10.png" alt="Menu" id="menu"
      /></span>
    </nav>

    <div class="row" id="smth">
      <div class="col1">
        <p>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Fortul 1 Chitila face parte
          dintr-un sistem vechi de fortificatii al Bucurestiului. Am fost acolo
          iarna trecuta cand eu cu niste prieteni ne-am intalnit cu 30 de
          oameni, toti inarmati cu lopeti, bricege, telescopice, daca era vreun
          om al strazii pe acolo nu stiu ce i s-ar fi intamplat.
        </p>
      </div>
      <div class="col2">
        <img
          id="d"
          src="images/WhatsApp-Image-2022-06-06-at-3.08.16-PM.jpeg"
          alt="Fortul 1 Chitila"
        />
        <p class="desc">Fort 1 Chitila</p>

        <video id="fort" controls>
          <source src="images/WhatsApp-Video-2022-06-05-at-4.31.30-PM.mp4" />
          Video-ul nu a putut fi incarcat
        </video>
        <p class="desc">Interval Fort Chitila</p>
      </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
